<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_AlgoliaTags>
            <version>0.1.0</version>
        </Aligent_AlgoliaTags>
    </modules>
    <global>
        <models>
            <aligent_algoliatags>
                <class>Aligent_AlgoliaTags_Model</class>
            </aligent_algoliatags>
        </models>
        <helpers>
            <aligent_algoliatags>
                <class>Aligent_AlgoliaTags_Helper</class>
            </aligent_algoliatags>
            <algoliasearch>
                <rewrite>
                    <entity_categoryhelper>Aligent_AlgoliaTags_Helper_Entity_Categoryhelper</entity_categoryhelper>
                </rewrite>
            </algoliasearch>
        </helpers>
        <events>
            <algolia_index_settings_prepare>
                <observers>
                    <aligent_algoliatags>
                        <type>singleton</type>
                        <class>aligent_algoliatags/observer</class>
                        <method>categoryConfigSaved</method>
                    </aligent_algoliatags>
                </observers>
            </algolia_index_settings_prepare>
        </events>
    </global>
</config>
